tml {
  font-size: 10px;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  position: absolute;
  width: 100%;
}

#header {
  position: absolute;
  width: 100%
}

#header h2 {
  height: 1.5rem;
}

#nicknamesView {
  height: calc(100% - 5rem);
  overflow-y: scroll;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#nicknamesView li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}

#messages {

overflow-y: scroll;
  height: calc(100% - 13rem);
  overflow-y: scroll;
  top: 9rem;
  bottom: 4rem;
  left: 0;
  right: 0;
  position: absolute;
}


#nicknames {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#nicknames b {
  margin-right: 1rem;
  position: relative;
}

/*#nicknames b:after {
position: absolute;
content: ",";
right: -0.5rem;
top: 0;
bottom: 0;
}*/

#nicknames b:last-child:after {
  content: "";
}

#nickname h1 {
  font-size: 2.4rem;
}

#nickname p {
  font-size: 1.6rem;
  text-align: left;
  padding-top: 4rem;
}

#nickname input {
  margin-top: 2rem;
}

#messages #lines {
  height: 100%;
  background: #fff;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

#lines p {
  font-size: 1.6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: auto;
}

#lines p b {
  font-size: 1.6rem;
  padding-left: 0.1rem;
  padding-right: 1.5rem;
  height: auto;
  color: rgba(230, 96, 0, 1);
}

#lines li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: auto;
}

#lines li p {
  overflow: visible;
  text-overflow: normal;
  white-space: normal;
}

#messages li {

}

#messages li p {

}

#send-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#offline {
  visibility: hidden;
}

section[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}
@keyframes rightToCurrent {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes currentToLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes currentToRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes leftToCurrent {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}